name: Run Performance Tests and Save CSV

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  performance-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Run performance test runner
        run: |
          python3 perfTestRunner.py

      - name: Commit and push performance CSV reports
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add perf_reports || true
          git commit -m "Add performance CSV reports [skip ci]" || true
          git push
